
<mat-toolbar color="primary">
  <span style="margin-left:1rem">Angular Material App With Tab and Routing </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<a routerLink="/" title="Home"><span class="material-icons">home</span></a>
<a routerLink="/helpdesk" title="Helpdesk"><span class="material-icons">help</span></a>
<a routerLink="/admin" title="Admin"><span class="material-icons">account_balance</span></a>

<router-outlet></router-outlet>
